header {
  width: 100vw;
  max-height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: var(--box-shadow-light);
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  overflow: hidden;
}

.date {
  font-size: var(--fs-xsmall);
}
