header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .theme-switch {
    display: flex;
    padding: 1rem;
    font-size: var(--fs-large);
    cursor: pointer;
  }

  .search-bar {
    margin: 0 auto;
  }
}
