@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;600&display=swap");

//Map of base font-sizes based on screen size

$base-font-sizes: (
  null: 12px,
  320px: 12px,
  480px: 14px,
  640px: 16px,
  960px: 18px,
);

:root {
  //Font-Families

  --ff-default: "Poppins", sans-serif;
  --ff-alt: "Open Sans", sans-serif;

  //Font-Sizes

  --fs-xsmall: 0.75rem;
  --fs-small: 0.85rem;
  --fs-large: 2rem;
  --fs-xlarge: 2.5rem;

  //Font-Weights

  --fw-light: 300;
  --fw-bold: 600;
}
