@use "../../../../src/assets/scss/fonts" as f;
@use "../../../../src/assets/scss/themes" as t;

.search-container {
  width: calc(100vw - var(--nav-width));
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 1rem;

  .search-results-container {
    width: 100%;

    .search-result {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0;
      .current-weather {
        display: flex;
        align-items: center;

        img {
          max-width: 2rem;
          height: auto;
        }

        .country {
          font-weight: var(--fw-light);
        }
      }
      .current-weather > * {
        margin: 0 1rem;
      }
    }
  }
}

#search-form {
  display: flex;
  max-width: 60vw;
  margin: 1rem auto;
  padding: 0.5rem;
  background: transparent;
  border: 1px solid var(--text-color);
  border-radius: 9px;

  input,
  input:focus {
    outline: none;
    background-color: transparent;
    border: none;
    flex-grow: 2;
  }
}

#search-form > * {
  margin: 0 0.5rem;
}
