<div class="search-container">
  <h1>Search Locations</h1>
  <div class="search-results-container box">
    <div class="search-result">
      <span class="location"
        >Wolverhampton, <span class="country">England</span></span
      >
      <div class="current-weather">
        29&#8451;
        <img
          src="../../../assets/weather-icons/weather-icon-rain.png"
          alt=""
          class="weather-img"
        />
      </div>
    </div>
    <div class="search-result">
      <span class="location"
        >Staffordshire, <span class="country">England</span></span
      >
      <div class="current-weather">
        24&#8451;
        <img
          src="../../../assets/weather-icons/weather-icon-sun.png"
          alt=""
          class="weather-img"
        />
      </div>
    </div>
    <div class="search-result">
      <span class="location"
        >Liverpool, <span class="country">England</span></span
      >
      <div class="current-weather">
        18&#8451;
        <img
          src="../../../assets/weather-icons/weather-icon-rain.png"
          alt=""
          class="weather-img"
        />
      </div>
    </div>
  </div>

  <form id="search-form">
    <fa-icon [icon]="faSearch"></fa-icon>
    <input
      type="search"
      id="weather-query"
      name="weather-query"
      placeholder="Search Locations..."
    />
  </form>
</div>
