<div class="container">
  <div class="current-weather">
    <h1 class="weather-type">Sunny</h1>
    <img
      src="../../../assets/weather-icons/weather-icon-sun.png"
      alt="weather icon"
      class="weather-icon"
    />
    <span class="current-location">Wolverhampton, England</span>
    <div class="weather-details box">
      <span class="current-humidity">36-38%</span>
      <span class="current-temp"> 27 </span>
      <span class="current-wind">24km/h</span>
    </div>
    <div class="further-details box">
      <span class="current-uv">High</span>
      <span class="current-pollution">Moderate</span>
      <span class="current-Pollen">Low</span>
    </div>
  </div>
</div>
