<div class="container" *ngIf="this.isWeatherDataLoaded | async">
  <h1 class="location">{{ this.currentLocationName }}</h1>
  <div class="inline-scroller snaps-inline">
    <div
      class="element-wrapper"
      routerLink="{{ dayWeather[i].route }}"
      routerLinkActive="selected"
      *ngFor="let day of this.dayWeather; let i = index"
    >
      <div class="scroll-element border" (click)="setSelectedDay(i)">
        <div class="date">
          <span class="bold">{{ dayWeather[i].date.slice(0, 3) }}</span>
          <span class="inline">{{ dayWeather[i].date.slice(5, 11) }}</span>
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="main-weather-info glass">
      <img
        src="../../../assets/weather-icons/{{
          this.currentWeather.daily[this.selectedDay].weather[0].icon
        }}.svg"
        alt="Weather logo"
        class="weather-icon"
      />
      <div class="info">
        <span class="weather-desc">{{
          this.currentWeather.daily[this.selectedDay].weather[0].description
        }}</span>
        <span class="weather-temp"
          >{{
            this.currentWeather.daily[this.selectedDay].temp.day
          }}
          &#8451;</span
        >
      </div>
    </div>
    <div class="info-container">
      <div class="more-info-container">
        <div class="more-info box">
          <div class="more-info-item">
            <fa-icon [icon]="faWater"></fa-icon>
            <div class="info-value">
              {{ this.currentWeather.daily[this.selectedDay].humidity }} &#37;
            </div>
            <div class="info-desc">Humidity</div>
          </div>
          <div class="more-info-item">
            <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>
            <div class="info-value">
              {{ this.currentWeather.daily[this.selectedDay].pressure }} hPa
            </div>
            <div class="info-desc">Pressure</div>
          </div>
          <div class="more-info-item">
            <fa-icon [icon]="faSun"></fa-icon>
            <div class="info-value">
              {{ this.currentWeather.daily[this.selectedDay].uvi }}
            </div>
            <div class="info-desc">UV</div>
          </div>
          <div class="more-info-item">
            <ng-container
              *ngIf="this.currentWeather.daily[this.selectedDay].rain"
            >
              <fa-icon [icon]="faWater"></fa-icon>
              <div class="info-value">
                {{ this.currentWeather.daily[this.selectedDay].rain }}
              </div>
              <div class="info-desc">Precipitation</div>
            </ng-container>
            <ng-container
              *ngIf="!this.currentWeather.daily[this.selectedDay].rain"
            >
              <fa-icon [icon]="faHandHoldingWater"></fa-icon>
              <div class="info-value">
                {{ this.currentWeather.daily[this.selectedDay].pop }}
              </div>
              <div class="info-desc text-center">
                Probability of <br />
                Precipitation
              </div>
            </ng-container>
          </div>
          <div class="more-info-item">
            <fa-icon [icon]="faWind"></fa-icon>
            <div class="info-value">
              {{ this.currentWeather.daily[this.selectedDay].wind_speed }} m/s
            </div>
            <div class="info-desc">Wind Speed</div>
          </div>
          <div class="more-info-item">
            <fa-icon [icon]="faWater"></fa-icon>
            <div class="info-value">
              {{ this.currentWeather.daily[this.selectedDay].feels_like.day }}
              &#8451;
            </div>
            <div class="info-desc">Feels Like</div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
