<div class="container" [ngClass]="this.navService.isNavOpen ? 'open' : ''">
  <section class="logo">
    <fa-icon [icon]="faBolt" class="nav-icon"></fa-icon>
    <span class="app-name">Weather App</span>
  </section>
  <div class="nav-content">
    <section class="nav-top">
      <div
        class="nav-item"
        [routerLink]="'home'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon class="nav-icon" [icon]="faHome"></fa-icon
        ><span class="nav-name">Home</span>
      </div>
      <div
        class="nav-item"
        [routerLink]="'search'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon class="nav-icon" [icon]="faSearch"></fa-icon
        ><span class="nav-name">Search Locations</span>
      </div>
      <div
        class="nav-item"
        [routerLink]="'/'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon class="nav-icon" [icon]="faHome"></fa-icon
        ><span class="nav-name">Home</span>
      </div>
      <div
        class="nav-item"
        [routerLink]="'/'"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon class="nav-icon" [icon]="faHome"></fa-icon
        ><span class="nav-name">Home</span>
      </div>
    </section>
    <div class="divider"></div>
    <section class="nav-utility">
      <div class="nav-item" (click)="this.switchTheme()">
        <fa-icon
          class="nav-icon"
          id="theme-icon"
          [icon]="this.themeIcon"
        ></fa-icon
        ><span class="nav-name" id="theme-name">{{ this.themeName }}</span>
      </div>
    </section>
  </div>
</div>
