.nav-container {
  position: sticky;
  left: 0;
  top: var(--header-height);
  width: var(--nav-width-mobile);
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-size: var(--fs-large);
  border-right: 1px solid var(--text-color);
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;

  .nav-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  section.logo {
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.2 ease-in-out;
    margin: 1rem;
  }

  section.logo fa-icon {
    margin-right: 1rem;
  }

  section.nav-top {
    display: flex;
    flex-direction: column;
  }

  .nav-icon {
    padding: 1rem 0;
  }
}

.open {
  width: var(--nav-width-mobile-open);
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  width: 100%;
  cursor: pointer;
}

.nav-item > * {
  padding: 0 1rem;
}

.nav-name {
  font-size: var(--fs-default);
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.app-name {
  font-size: var(--fs-xlarge);
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.open .nav-name {
  transform: scale(1);
}

.open .app-name {
  transform: scale(1);
}

@media screen and (min-width: 650px) {
  .nav-container {
    width: var(--nav-width);
  }

  .open {
    width: var(--nav-width-open);
  }
}
