@use "/src/assets/scss/fonts";
@use "/src/assets/scss/mixins";
@use "/src/assets/scss/themes";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include mixins.font-size(fonts.$base-font-sizes);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--ff-default);
  transition: all 0.35s ease;
}

.box {
  margin: 1rem;
  padding: 1rem;
  border-radius: 9px;
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  transition: all 0.2s ease;
}

.btn {
  margin: 1rem;
  padding: 1rem;
  border-radius: 9px;
  opacity: 0.75;
  background-color: var(--brand-color);
  color: var(--btn-txt-color);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.35s ease;

  &:hover {
    opacity: 1;
  }
}
