<div class="search-container">
  <form id="search-form">
    <fa-icon [icon]="faSearch"></fa-icon>
    <input
      type="search"
      id="location-query"
      name="locationQuery"
      placeholder="Search City..."
      [formControl]="locationQueryControl"
      (focus)="this.showDropdown()"
      (blur)="this.hideDropdown()"
    />
    <div class="loader-container">
      <div
        class="loader"
        [ngClass]="
          this.isSearchActive && !this.isQueryDataLoaded ? 'visible' : ''
        "
      ></div>
    </div>

    <fa-icon
      class="current-loc-btn-container"
      [icon]="faLocationArrow"
      [ngClass]="this.isSearchActive ? '' : 'visible'"
      (click)="this.getCurrentLocationWeather()"
    ></fa-icon>
  </form>

  <ul class="dropdown box" [ngClass]="this.isDropDownOpen ? 'visible' : ''">
    <div class="no-results" *ngIf="this.queryLocationData?.length == 0">
      <fa-icon [icon]="faWindowClose"></fa-icon>
      <h1>No results</h1>
    </div>
    <li *ngFor="let city of queryLocationData; let i = index">
      <div class="location-info" (click)="this.setQuerySelectionIndex(i)">
        {{ this.queryLocationData[i].name }}
        <div>
          {{ this.queryLocationData[i].state }},
          {{ this.queryLocationData[i].country }}
        </div>
      </div>
    </li>
  </ul>
</div>
