#search-form {
  padding: 0.5rem;
  border-radius: 9px;
  border: 2px solid var(--text-color);
  display: flex;
  align-items: center;
  position: relative;

  fa-icon {
    margin-right: 1rem;
  }

  input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
  }
}

.dropdown {
  opacity: 0;
  position: absolute;
  left: 25%;
  min-width: 50%;
  min-height: max-content;
  border-radius: 9px;
  text-decoration: none;
  list-style: none;
  z-index: 3;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.dropdown.visible {
  opacity: 1;
  pointer-events: auto;
}

.location-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-color);
  }
}

.loader-container {
  padding-left: 1rem;
}

.no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;

  fa-icon {
    font-size: var(--fs-xlarge);
    color: var(--error-color);
  }
}
